<div class="header" >
	<br>
	<a id = "brand" class="navbar-brand fw-bold" href="#">CARTNY</a>
<nav class="navbar navbar-expand-md " color="primary">
    <div class="container-fluid">
		<div class="collapse" >
			<a id = "brand" class="navbar-brand fw-bold" href="#">CARTNY</a>
			<a class="nav-link " routerLink="products">Products</a>
			<ul class="navbar-nav sm-icons">
			<li><a class="nav-link" href="#"><i class="bi bi-facebook"></i></a></li>
			<li><a class="nav-link" href="#"><i class="bi bi-instagram"></i></a></li>
			<li><a class="nav-link" href="#"><i class="bi bi-twitter"></i></a></li>
			<li><a class="nav-link" href="#"><i class="bi bi-pinterest"></i></a></li>
			</ul>
		</div>
    </div>
    <br>
    <div class="sidebar">
		<div class="sidebar-opener" (click)="sidebarShow = !sidebarShow">
			<br> 
			<div class="example-button-container">
			<button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
				<mat-icon>menu</mat-icon>
			</button>
			</div>
	
		</div>
    </div>
</nav>

  <div class="sidebar-slider" [class.sidebar-slide-in]="sidebarShow">
		<div class="sidebar-close" (click)="sidebarShow = !sidebarShow">
			X
		</div>
		<div class="sidebar-content">
			<h2><a class="nav-link "routerLink="home"><b>CARTNY</b></a></h2>
			<i>"one stop shoppie"</i>
			<div *ngIf="!authService.isLoggedIn()"> <a class="nav-link "routerLink="login" >Login</a></div>
			<div *ngIf="authService.isLoggedIn()"> <a class="nav-link "routerLink="login" (click)="logout()" >Logout</a></div>
			<div *ngIf="authService.isLoggedIn()"> <a class="nav-link "routerLink="profile">Profile</a></div>
			<div><a class="nav-link " routerLink="categories">Categories</a></div>
			<div><a class="nav-link " routerLink="products">Products</a></div>
			<div><a class="nav-link " routerLink="about">About</a></div>
			<div>Contact Us</div>
			<div>Admin Login</div>
			<div>Merchant Login</div>
			<div> <a class="nav-link "routerLink="home" (click)="authService.logout()" *ngIf="authService.isLoggedIn()">Logout</a></div>
		</div>
</div>
</div>

