
#brand{
    font-size: medium;
    padding-left: 1em;
    padding-top: 1em;
    margin: 0px;
}
.navbar .navbar-nav .nav-link {
    color: #ffffff;
    margin-bottom: 1em;
}
.sm-icons {
    flex-direction: row;
}
.sm-icons .nav-link {
    padding-right: 1em;
}
a:link { text-decoration: none; }
li {
    font-size: small;
}
.nav-item li:hover {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
.nav-search {
    position: absolute;
    right: 20px;
    text-align: center;
    color: #ffffff;
    padding-left: 1em;
    padding-bottom: 0px;
}

.search {
    color: #ffffff;

}
