<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
      <a id = "brand" class="navbar-brand fw-bold" href="#">CARTNY</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active " aria-current="page" href="#">home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="categories">categories</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="products">products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="contactus">contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="about">about</a>
          </li>
          <li class="nav-item">
            <a class="nav-link "routerLink="login">login</a>
          </li>
          <li class="nav-search">
            <mat-form-field appearance="fill">
                <mat-label class="search"> Search products by name</mat-label>
                <input matInput/>
                <mat-icon matPrefix>search</mat-icon>
              </mat-form-field>
          </li>
        </ul>
        <ul class="navbar-nav sm-icons">
          <li><a class="nav-link" href="#"><i class="bi bi-facebook"></i></a></li>
          <li><a class="nav-link" href="#"><i class="bi bi-instagram"></i></a></li>
          <li><a class="nav-link" href="#"><i class="bi bi-twitter"></i></a></li>
          <li><a class="nav-link" href="#"><i class="bi bi-pinterest"></i></a></li>
        </ul>
      </div>
    </div>
  </nav>